// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
color: white;
background-color: #2d5c97;
text-decoration: none;
}

table a{
  text-decoration: none;
  a {color:#FF0000;}      /* unvisited link */
  a:visited {color:#00FF00;}  /* visited link */
  a:hover {color:#FF00FF;}  /* mouse over link */
  a:active {color:#0000FF;}
}

// ***********game page/page 2 top part *********

// ****************** game page/page 2 middle part*****

.gamepg_middle_part{
  display: flex;
}

.wba_logo img{
width: 150px;
margin-top: 10px;
border-radius: 50%;
}


// *********************game page/page 2 bottom part ******

.gamepg_top_part{
  text-align: center;
  font-size: 2.5em;
}

.gamepg_bottom_part{
  background-image: url('court4.jpg');
  background-repeat: no-repeat;
  margin-left: 71px;
  padding-bottom: 200px;
}

article{
  margin-left: 15px;
  margin-top: 15px;
  color: black;
}

h1{
  padding-top: 15px;
  padding-left: 15px;

}
.nba-refs-content, .entry-meta,{
  padding-left: 15px;
}

.pat_was_pissed{
  margin-left: 15px;
}

td{
  background-color: #fee388;
}
