// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// ********THIS IS CSS FOR PAGE 3/ RATING/PAGE ********
.review_page{

  background-image: url('second_court3');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}



.instructions{
  text-align: center;
  font-size: 1.75em;
  color: white;
  margin-left: 88px;
  margin-top: 18px;
}

.wba_score, .comments_history{
  text-align: center;
  font-size: 1em;
  color: white;

}

.wba_score, .comments_history{
      margin-left: -133px;
}

.wba_score{
  margin-top: 10px;
}

.rvpg_wba_logo{
  margin-top: -40px;


}

// **********CSS PAGE 3/REVIEW MIDDLE PART *******

.survey_instructions, .return_link, .submit_link{
  background-color: #ce393d;
    border: 2px solid black;
    text-shadow: -1px -1 black, -1 1px black, -1px -1 black, -1 -1px black;
    text-align: center;
    font-size: 1.05em;
    margin-bottom: 30px;
}

.survey_questions{
  background-color: #ce393d;
    border: 2px solid black;
    text-shadow: -1px -1 black, -1 1px black, -1px -1 black, -1 -1px black;
    text-align: center;
    font-size: 1.05em;
}

.true_false_instructions{
  margin-left: 250px;
}

.survey_instructions {
  margin-top: 65px;
  padding: 7px;
  margin-left: 301px;
  color: white;
}

.return_link{
  margin-left: 55px;
}

.survey_questions{
  padding: 15px;
  margin-top: 15px;
  margin-left: 290px

}

.answer{
  margin-left: 192px;
}

.q1_answer{
 margin-left: 170px;
}

.q2_answer{
margin-left: 152px;
}

.q3_answer{
margin-left: 141px;
}

.q4_answer{
margin-left: 12px;
}

.q5_answer{
margin-left: 244px;
}

#review_body{
  height: 5px;
  width: 10px;
  height: 55px;
width: 314px;
margin-left: 42px;
margin-top: 5px;
}

.rv_middle_part{
  display: flex;
}

.true_false_instructions{
      margin-top: 20px;
}

.rv_middle_right{
  display: flex;
  margin-left: 120px;
}

.return_link{
  margin-left: 240px;
}


// ***************REVIEW PAGE BOTTOM SECTION ******************

.rv_bottom_section{
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-left: 312px;
  color: white;

}

.rv_bottom_section a{
  text-decoration: none;

}

.submit_link{
      margin-right: 300px;
}

// *********************PAGE 4 CSS STYLING **********

.rvpg_homepage_button, .rvpg_reviews_area, .rvpg_refphoto_area{
  color: white;
}

.rvpg_total_review_history{
  color: white;
}

.rvpg_title, .rvpg_wba_score{
  text-align: center;
  font-size: 1.25em;
  color: white;
}

.rvpg_top{
      margin-top: 32px;
}

.rvpg_wba_logo img{
width: 150px;
margin-top: 10px;
border-radius: 50%;
}

.rvpg_bottom{
  display: flex;
  justify-content: space-around;
}

.rvpg_homepage_button{
  width: 145px;
  margin-top: 12px;
margin-left: 5px;
  background-color: #ce393d;
    border: 2px solid black;
    text-shadow: -1px -1 black, -1 1px black, -1px -1 black, -1 -1px black;
    text-align: center;
    font-size: 1em;
}

.rvpg_reviews_area, .rvpg_refphoto_area{
  margin-top: 57px;
margin-left: -23px;
      background-color: #ce393d;
        border: 2px solid black;
        text-shadow: -1px -1 black, -1 1px black, -1px -1 black, -1 -1px black;
        text-align: center;
        font-size: 1em;
}

.rvpg_reviews_area{
width: 145px;


}

.rvpg_refphoto_area{
width: 120px;
}

.rvpg_placeholder{
  display: flex;
  justify-content: space-around;

}

.rvpg_ref_photo_placeholder, .rvpg_total_review_history{
  height: 300px;
  width: 300px;
  background-color: #ce393d;
  text-align: center;
}

.rvpg_placeholder{
  margin-top: 9px;
}
